<div class = "main controller">
    <div class = "container">
        <%= "計算結果は#{@Calculation_result}です" %>

        <p><%= "1つ目に入力した数字は#{@number.first_number}です" %></p>
        <p><%= "2つ目に入力した数字は#{@number.second_number}です" %></p>
        <p><%= "選択したコントローラーは#{@selected_controller.selected_controller}です" %></p>
    </div>
</div>