<div class = "main select_1">
    <div class = "container">
        <p>1つ目の数字を入力してください</p>
        <%= form_tag("/2") do %>
        <div class="f_form">
            <input name="first_number">
            <input type="submit" value="送信">
        </div>
        <% end %>
    </div>
</div>